.rightSideBarContainer {
  width: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

.showRightSideBar {
  width: 350px;
}

.hidRightSideBar .rightSideBar {
  transform: translateX(30%);
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: fixed;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  height: calc(100vh - 4rem);
  width: 350px;
  background-color: #efefef;
  /* box-shadow: -4.8px 5.6px 16px 0px rgba(0, 0, 0, 0.05),
    -18.4px 22.4px 28.8px 0px rgba(0, 0, 0, 0.04),
    -42.4px 50.4px 39.2px 0px rgba(0, 0, 0, 0.03),
    -74.4px 88.8px 46.4px 0px rgba(0, 0, 0, 0.01),
    -116.8px 139.2px 51.2px 0px rgba(0, 0, 0, 0); */
  box-shadow: -4px 4px 11px 0px rgba(0, 0, 0, 0.1),
    -14px 14px 20px 0px rgba(0, 0, 0, 0.09),
    -33px 33px 28px 0px rgba(0, 0, 0, 0.05),
    -58px 58px 33px 0px rgba(0, 0, 0, 0.01),
    -90px 90px 36px 0px rgba(0, 0, 0, 0);
}

.rightSideBar header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.rightSideBar header h3 {
  text-transform: uppercase;
}

.rightSideBar header span {
  cursor: pointer;
}

.inputContainer input {
  outline: none;
  border: none;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 1.25rem;
  background-color: #d9d9d9;
  font-size: var(--input-font-size);
  font-weight: 400;
}

.descriptionContainer textarea {
  width: 100%;
  height: 8rem;
  resize: none;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: #d9d9d9;
  font-size: var(--input-font-size);
  font-weight: 400;
  outline: none;
  border: none;
}

.fieldvalue {
  display: flex;
  gap: 2rem;
}

.fieldContainer p:not(:first-child) {
  margin-top: 0.6rem;
  font-size: var(--body-medium-large);
}

.valueContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.listContainer select,
.dueDateContainer input {
  font-size: var(--body-medium-large);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.tagInputContainer input {
  width: 5rem;
  border: none;
  outline: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

.tagDiv {
  font-size: var(--body-medium);
  background-color: #22d1ee;
  /* text-align: cw; */
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

.subTasks {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.subTasksInputContainer form {
  font-size: var(--H2);
  border-bottom: 1px solid black;
  width: 100%;
}

.subTasksInputContainer input {
  font-size: var(--body-medium-large);
  width: 90%;
  padding: 0.2rem 0.4rem;
  outline: none;
  border: none;
  background-color: transparent;
}

.subtasksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.subtask {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.subtask p {
  font-size: var(--body-medium-large);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.footer button {
  padding: 0.7rem 2rem;
  font-size: var(--body-medium-large);
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
}

.footer button:nth-child(2) {
  background-color: #ff895d;
  border: none;
}
