.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.uiDivider {
  border-bottom: 1px solid black;
  width: 300px;
}

.error {
  color: red;
  margin-top: 2px;
  padding-left: 2px;
  font-size: 11px;
}

.signInButton {
  border-radius: 8px;
  padding: 10px 20px;
  width: 300px;
  font-weight: 400;
  background-color: #4169e1;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.signInButton:hover {
  /* background-color: hsl(225, 72%, 48%); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.signUpButton {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  width: 300px;
  font-weight: 400;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 16px;
  color: #4169e1;
  border: 2px solid #4169e1;

  transition: all 0.5s ease;
}

.signUpButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
